@charset "UTF-8";

body {
    background-color: rgb(186, 234, 186);
    font-family: helvetica;
    font-size: 20px;
}

h1 {
   color: rgb(9, 53, 1);
   font-family: Arial;
   
}

h2{
   color: rgb(0, 62, 0);
}

p{
    text-align: justify;
}