@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family= Sriracha & display=swap');



:root{
    --fonte01:'Passion One', cursive;
    --fonte02:'Sriracha', cursive;
}
*{
  margin: 0px;
  padding: 0px;
}
header{
  background-color: black;
  color: white;
  text-align: center;
  height: 20vmax;
}
header>h1{
  font-family:var(--fonte01);
  font-size: 8vmax;
  font-weight: bold;
  text-align:center;
  
}
header>p>a{
  font-family: Verdana, Geneva, Tahoma, sans-serif;text-decoration:none;
  color: white;
}
a:hover{
  text-decoration: underline;
}

main{
  font-family: var(--fonte02);
  text-align: left;
  font-weight: normal;
  font-size: 3vmax;
  width: 50vmax;
  
}
div#imagem1{
 background-image: url(imagens/background001.jpg);
 color: white;
 height: 30vh;
 width: 100vmax;
 background-position: center;
}
div#texto1{
  font-size: 3vh;
  background-color: rgba(0, 0, 0, 0.305);
  height: 25vh;
  width: 48%;
}
footer{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}